/* fonts */
@font-face{
  font-family: "Young Serif";
  src: url(recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face{
  font-family: "Outfit";
  src: url(recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
 
/* reset */
*::before
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Young serif,serif;
  font-size: 2.05rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
h2 {
  font-family: Young serif,serif;
  font-size: 2.05rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
h3 {
  font-family: Young serif,serif;
  font-size: 2.05rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
h4 {
  font-family: Young serif,serif;
  font-size: 2.05rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
.preparation
 { font-family: Young serif,serif;
  font-size: 2.05rem;
  font-weight: 200;
}

ul, ol {
  padding: 1.0rem;
}

img {
  display: block;
  max-width: 100%;
  font-style: italic;
  }
  
body {
  font-family: young serif;
  font-weight: 300;
  font-size: 1rem} 

table {
   border-collapse: collapse;
   width: 100%;
}   

/* text style */
.recipe-title {
  font-size: 2.75rem;
  color: rgb(51, 39, 21);
  }
  .prep-title {
    font-size: 2.05rem;
    font-weight: 200;
      }

  span {
    color:rgb(27, 12, 6);
    font-weight: 700;
  }

  [data-cell="nutrient-value"]{
    color: rgb(51, 10, 10);
    font-weight: 500;
  }

  li {
    padding-left: 1.5rem;
  }
  
  li::marker {
    color: rgb(105, 49, 9);
    font-weight: 600;
  }


  /* layout style */
  .wrapper{
    display: grid;
    place-items: center;
  }

  .recipe-wrapper{
    max-width: 50em;
    padding: 1.75rem;
    margin: 6rem;
    border-radius: 1.5rem;
    background: rgb(233, 220, 220);
  }

/* general styles */
.recipe-img {
  border-radius: 8rem;
}
section {
  margin-top: 2rem;
}
hr {
  outline: none;
  border: none;
  height: 1px;
  background: rgb(99, 41, 41);
  margin-top: 2rem;
}
.preparation-time {
  padding: 1.75rem;
  border-radius: .4rem;
  background: rgb(211, 173, 173);
}

tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  border-bottom: 1px solid burlywood;
}

/* media query */
@media (max-width: 500px) {
  .recipe-wrapper  {
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  .recipe-img {
    border-radius: 0;
  }

  .recipe-container {
    padding: 0 1.75rem;
  }

  .recipe-title {
    font-size: 2.32rem;
  }
}
